@model BokaBord

<h1>Book a table</h1>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Antal"></label>
        <input asp-for=Antal class="form-control" />
        <span asp-validation-for="Antal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for=Email class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Namn"></label>
        <input asp-for=Namn class="form-control" />
        <span asp-validation-for="Namn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Datum"></label>
        <input asp-for="Datum" class="form-control datepicker" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true
                });
            });
        </script>
    }

    <button type="submit" class="btn btn-primary">Continue</button>
</form>